// Шрифти
$font-main: "Mulish", sans-serif;
$font-title: "Playfair Display", serif;

// Кольори
$color-primary: #e69a2f;
$color-secondary: #071c55;
$color-bg: #f9f9fb;
$color-text: #2f2f2f;
$color-text2: rgba(255, 255, 255, 0.6);
$color-white: #ffffff;
